    <body class="album" ng-controller="AlbumController">
        <main class="album-view container narrow">
            <section class="clearfix">
                <div class="column half">
                    <img src="{{thisAlbum.albumArtUrl}}" class="album-cover-art">
                </div>
                <div class="album-view-details column half">
                    <h2 class="album-view-title">{{thisAlbum.name}}</h2>
                    <h3 class="album-view-artist">{{thisAlbum.artist}}</h3>
                    <h5 class="album-view-release-info">{{thisAlbum.year}} {{thisAlbum.label}}</h5>
                </div>
            </section>
            <table class="album-view-song-list">
                <tr class="album-view-song-item" ng-repeat="song in thisAlbum.songs">
                    <!-- Only one of the following three <td> items is shown - two are hidden -->
                    
                    <!-- Case 1: Didn't click on the currently selected song -->
                    <td ng-hide="selectedSong == {{$index + 1}}" class="song-item-number" data-song-number="{{$index + 1}}">
                        <a ng-click="songClickHandler($index, song)" ng-Mouseover="mouseIsOver=true" ng-Mouseleave="mouseIsOver=false">
                            <span ng-hide="mouseIsOver"> <!-- show the number if mouse is not over the number -->
                                  {{$index + 1}}
                            </span>
                            <span ng-show="mouseIsOver" class="ion-play"> <!-- show the play button if moust is over the number -->
                            </span>
                        </a>
                    </td>
                    <!-- Case 2: Song is selected and song is playing -->
                    <td ng-show="selectedSong == {{$index + 1}} && songIsPlaying">
                        <a ng-click="playPauseClick()" class="album-song-button"><span class="ion-pause"></span></a>
                    </td>
                    <!-- Case 3: Song is selected and song is paused -->
                    <td ng-show="selectedSong == {{$index + 1}} && !songIsPlaying">
                        <a ng-click="playPauseClick()" class="album-song-button"><span class="ion-play"></span></a>
                    </td>
                    <td class="song-item-title"> {{song.name}}</td>
                    <td class="song-item-duration">{{song.length}}</td>
                </tr>
            </table>
        </main>

        <section class="player-bar">
            <div class="container">
                <div class="player-bar-control-group left-controls">
                    <a class="previous">
                        <span ng-click="nextPrevSongClick(-1)" class="ion-skip-backward"></span>
                    </a>
                    <!-- Only one of these two spans is displayed -->
                    <span ng-show="songIsPlaying" >
                    <a class="play-pause">
                        <span ng-click="playPauseClick()" class="ion-pause"></span>
                    </a>
                    </span>
                    <span ng-hide="songIsPlaying">
                    <a class="play-pause">
                        <span ng-click="playPauseClick()" class="ion-play"></span>
                    </a>
                    </span>
                    <a class="next">
                        <span ng-click="nextPrevSongClick(1)" class="ion-skip-forward"></span>
                    </a>
                </div>
                <div class="player-bar-control-group currently-playing">
                    <h2 class="song-name">{{thisAlbum.songs[selectedSong-1].name}}</h2>
                    <h2 class="artist-song-mobile">{{thisAlbum.songs[selectedSong-1].name}} - {{thisAlbum.artist}}</h2>
                    <div class="seek-control">
                        <div ng-click="playerSeekBarClick()" class="seek-bar">
                            <div class="fill"></div>
                            <div class="thumb"></div>
                        </div>
                        <div class="current-time">TBD{{currentTime}}</div>
                        <!-- Refactor: need to use the totalTime derived from the sound file, not the one in the album info --> 
                        <div class="total-time">{{thisAlbum.songs[selectedSong-1].length}}</div>
                    </div>
                    <h3 class="artist-name">{{thisAlbum.artist}}</h3>
                </div>
                <div class="player-bar-control-group right-controls">
                    <div class="volume">
                        <span class="ion-volume-high"></span>
                        <div class="seek-bar">
                            <div class="fill"></div>
                            <div ng-mousedown="thumbMousedown()" class="thumb"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <!-- <script src="scripts/fixtures.js"></script>
        <script src="scripts/album.js"></script> -->
    </body>